*,
*::before,
*::after {
    box-sizing: border-box;
}

.card-header {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin: 50px;
}

.card-body {
    display: flex;
    justify-content: center;
}

.form-control {
    margin-bottom: 20px;
}

label {
    font-size: 1.4em;
}

input,
select,
textarea {
    width: 25em;
    padding: 0.4em 0px;
    border: none;
    border-bottom: solid 1px grey;
}

.button {
    display: flex;
    justify-content: center;
    padding: 5em 0;
}

button {
    width: 200px;
    height: 50px;
    font-size: 2em;
}

.form-check {
    margin: 10px 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.form-check input {
    width: max-content;
}

.btn-primary {
    margin-top: 10px;
}

.register-section {
    margin-top: 20px;
}

.bottomPanel {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bottomPanel button {
    margin-bottom: 10px;
}
